apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: go-170173523
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: go-170173523
    app.kubernetes.io/part-of: test-app-170173523
  name: go-170173523
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: go-170173523
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: go-170173523
    spec:
      containers:
      - env:
        - name: TEST_ENV_VAR
          value: Test go app
        image: quay.io/hacdev/bphv0iol-tenant/test-app-170173523/go-170173523@sha256:25b8129c92bfb5605d1c6a0eefac69598b10fe158dfa5b0cdf9bb1555793ebb2
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
