apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: go-170173523
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/bphv0iol-tenant/test-app-170173523/go-170173523@sha256:f9103105016a5083536f092eb2a08483d436ec57ef024d335bae327cdee4213a
        name: my-go
        resources: {}
status: {}
